<h1 class="mt-4">Experiments <%= link_to 'New Experiment', new_experiment_path, class: 'btn btn-outline-success float-right' %></h1>
<% @experiments.each do |e| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-body">
          <h4>
            <%= link_to e.name, experiment_results_path(e) %>
            <%= link_to 'Results', experiment_results_path(e), class: "btn btn-outline-secondary float-right" %>
            <%= link_to 'Edit', edit_experiment_path(e), class: "btn btn-outline-secondary float-right" %>
          </h4>
          <div>
            <span class="badge badge-pill badge-info"><%= e.variants.count %> variants</span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>