<!doctype html>
<html>
<head>
  <meta property="og:url"                content="<%= @share.experiment.url %>" />
  <meta property="og:type"               content="campaign" />
  <meta property="og:title"              content="<%= @metatags[:title] %>" />
  <meta property="og:description"        content="<%= @metatags[:description] %>" />
  <meta property="og:image"              content="<%= experiment_image_url(@share.experiment, format: 'png', params: request.query_parameters) %>" />
  <meta property="og:image:width"        content="516" />
  <meta property="og:image:height"        content="270" />
</head>
<body>
  Whoops! You shouldn't have landed on this page. <%= link_to 'Click here', @share.experiment.url %> to go where you were probably heading.
</body>
</html>
